mixin minicard(data)
    .minicard
        .minicard__images
            .minicard__gallery
                .splide(data-slider="gallery")
                    .splide__track
                        .splide__list
                            .splide__slide: +picture('/img/product/minicard-1')
                            .splide__slide: +picture('/img/product/image-35-2')
                            .splide__slide: +picture('/img/product/image-35-3')

        .minicard__content
            .minicard__main
                .minicard__title: a(href='single-product.html')= data.title
                
                .minicard__colors
                    ul.color-list
                        li: span(title="Черный" style="background-color: #000")
                        li: span(title="Темный" style="background-color: #808080")
                        li: span(title="Серый" style="background-color: #C0C0C0")
                        li: span.color--border(title="Серый" style="background-color: #fff")
                        li
                            span.multi-color(title="Красный/Зеленый/Синий")
                                svg(width='24' height='24' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M63.002 63h63C121.502 2.004 62-10.495 32 8l31.002 55z' fill='#E81E1E')
                                    path(d='M62.995 62.998L32.002 117c55.074 26.6 95.008-18.776 93.99-54.005l-62.997.003z' fill='#A71EE8')
                                    path(d='M63 63.001L32 8c-50.776 34.094-30.915 92.083.002 109L63 63.001z' fill='#0CE97F')
                        li
                            span.multi-color(title="Розовый/Голубой")
                                svg(width='125' height='125' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M106.694 18.306a62.5 62.5 0 10-88.388 88.388l88.388-88.388z' fill='#E31CAC')
                                    path(d='M18.306 106.694a62.5 62.5 0 1088.388-88.388l-88.388 88.388z' fill='#1C9CE3')
                .minicard__rating(class=data.rating_color)
                    span= data.rate
                    a(href='#') 82 отзыва

                if(data.sticker_color == 'sticker--orange')
                    .minicard__stickers(class=data.sticker_color)
                        span Хит
                if(data.sticker_color == 'sticker--blue')
                    .minicard__stickers(class=data.sticker_color)
                        span Новинка
                        
                .minicard__props
                    ul
                        li <span>звук:</span> моно
                        li <span>суммарная мощность:</span> 40 Вт
                        li <span>диапазон воспроизводимых частот:</span> 50-20000 Гц
                        li <span>вход аудио (AUX):</span> да
            .minicard__more
                .minicard__price= data.price
                .minicard__offers
                    a(href='#') 24 предложения
                .minicard__action
                    a(href='#' data-wishlist=data.id data-tooltip="Добавить в избранное"): +icons('#ic_heart-default', 20) 
                    a(href='#' data-compare=data.id data-tooltip="Добавить в сравнение"): +icons('#ic_compare', 20)

mixin minicard--store(data) 
    .minicard.minicard--store
        .minicard__images
            +picture('/img/product/minicard-2')
        .minicard__content
            .minicard__main
                .minicard__title: a(href='#')= data.title

                if(data.other)
                    .minicard__other
                        span(data-popup="more-offers" data-store="79268" data-store-name="PCPlanet.ru") Другие предложения
                
                .minicard__store
                    .minicard__store-price.hide--desctop= data.price
                    .minicard__store-detail
                        .minicard__store-label Магазин:
                        .minicard__store-wrp
                            .minicard__store-name: a(href='#') PCPlanet.ru
                            .minicard__store-phone(data-popup="number" data-store="12788")
                                span Телефоны
                                ul(data-numbers="store")
                        
                    .minicard__store-rating
                        .minicard__store-label Рейтинг магазина:
                        .minicard__rating(class=data.rating_color)
                            span= data.rate
                            a(href='#') 82 отзыва
                
                
                .minicard__conditions
                    .minicard__conditions-label Условия покупки:
                    .minicard__conditions-text Оплата картой, цены не зависят от формы оплаты, гарантия
                
            .minicard__more
                .minicard__price.hide--mobile= data.price
                .minicard__shipping
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_truck.svg')
                        .shipping-item__main
                            .shipping-item__title Курьером, 26-27 мая – <strong>300 ₽</strong>
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_pin.svg') 
                        .shipping-item__main
                            .shipping-item__title Самовывоз, 27 сен – <small>бесплатно</small>
                            .shipping-item__points: span(data-shop-points="178") Пункты выдачи
                .minicard__note Оплата онлайн / наличными при получении
                .minicard__in-store
                    a(href='single-shop.html'): button.btn В магазин
                .minicard__action
                    a(href='#'  data-tooltip="Пожаловаться"): +icons('#ic_warning', 20) 

mixin minicard--store--offers(data) 
    .minicard.minicard--store.minicard--offers
        .minicard__images
            +picture('/img/product/minicard-2')
        .minicard__content
            .minicard__main
                .minicard__title: a(href='#')= data.title

                if(data.other)
                    .minicard__other
                        span(data-popup="more-offers" data-store="79268" data-store-name="PCPlanet.ru") Другие предложения
                
                .minicard__store
                    .minicard__store-price.hide--desctop= data.price
                    .minicard__store-detail
                        .minicard__store-label Магазин:
                        .minicard__store-wrp
                            .minicard__store-name: a(href='#') PCPlanet.ru
                            .minicard__store-phone(data-popup="number" data-store="12788")
                                span Телефоны
                                ul(data-numbers="store")
                        
                    .minicard__store-rating
                        .minicard__store-label Рейтинг магазина:
                        .minicard__rating(class=data.rating_color)
                            span= data.rate
                            a(href='#') 82 отзыва
                
                
                .minicard__conditions
                    .minicard__conditions-label Условия покупки:
                    .minicard__conditions-text Оплата картой, цены не зависят от формы оплаты, гарантия
                
            .minicard__more
                .minicard__price.hide--mobile= data.price
                .minicard__shipping
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_truck.svg')
                        .shipping-item__main
                            .shipping-item__title Курьером, 26-27 мая – <strong>300 ₽</strong>
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_pin.svg') 
                        .shipping-item__main
                            .shipping-item__title Самовывоз, 27 сен – <small>бесплатно</small>
                            .shipping-item__points: span(data-shop-points="178") Пункты выдачи
                .minicard__note Оплата онлайн / наличными при получении
                .minicard__in-store
                    a(href='single-shop.html'): button.btn В магазин
                .minicard__action
                    a(href='#'  data-tooltip="Пожаловаться"): +icons('#ic_warning', 20) 

mixin minicard--mini(data) 
    .minicard.minicard--store.minicard--mini
        .minicard__images
            +picture('/img/product/minicard-2')
        .minicard__content
            .minicard__main
                .minicard__title: a(href='#')= data.title

                if(data.other)
                    .minicard__other
                        span(data-popup="more-offers" data-store="79268" data-store-name="PCPlanet.ru") Другие предложения
                
                .minicard__store
                    .minicard__store-price.hide--desctop= data.price
                    .minicard__store-detail
                        .minicard__store-label Магазин:
                        .minicard__store-wrp
                            .minicard__store-name: a(href='#') PCPlanet.ru
                            .minicard__store-phone(data-popup="number" data-store="12788")
                                span Телефоны
                                ul(data-numbers="store")
                        
                    .minicard__store-rating
                        .minicard__store-label Рейтинг магазина:
                        .minicard__rating(class=data.rating_color)
                            span= data.rate
                            a(href='#') 82 отзыва
                
                
                .minicard__conditions
                    .minicard__conditions-label Условия покупки:
                    .minicard__conditions-text Оплата картой, цены не зависят от формы оплаты, гарантия
                
            .minicard__more
                .minicard__price.hide--mobile= data.price
                .minicard__shipping
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_truck.svg')
                        .shipping-item__main
                            .shipping-item__title Курьером, 26-27 мая – <strong>300 ₽</strong>
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_pin.svg') 
                        .shipping-item__main
                            .shipping-item__title Самовывоз, 27 сен – <small>бесплатно</small>
                            .shipping-item__points: span(data-shop-points="178") Пункты выдачи
                .minicard__note Оплата онлайн / наличными при получении
                .minicard__in-store
                    a(href='single-shop.html'): button.btn В магазин
                .minicard__action
                    a(href='#'  data-tooltip="Пожаловаться"): +icons('#ic_warning', 20) 
               
mixin minicard--offer(data) 
    .minicard.minicard--offer
        .minicard__images
            +picture('/img/product/minicard-2')
        .minicard__content
            .minicard__main
                .minicard__title: a(href='#')= data.title
            .minicard__more
                .minicard__price.hide--mobile= data.price
                .minicard__shipping
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_truck.svg')
                        .shipping-item__main
                            .shipping-item__title Курьером, 26-27 мая – <strong>300 ₽</strong>
                    .shipping-item
                        .shipping-item__icon: +bgimage('/img/svg/ic_pin.svg') 
                        .shipping-item__main
                            .shipping-item__title Самовывоз, 27 сен – <small>бесплатно</small>
                .minicard__in-store
                    a(href='single-shop.html'): button.btn В магазин


mixin minicard-favourites(data)
    .minicard.minicard--favourites
        .minicard__images
            .minicard__gallery
                .splide(data-slider="gallery")
                    .splide__track
                        .splide__list
                            .splide__slide: +picture('/img/product/minicard-1')
                            .splide__slide: +picture('/img/product/image-35-2')
                            .splide__slide: +picture('/img/product/image-35-3')

        .minicard__content
            .minicard__main
                .minicard__title: a(href='single-product.html')= data.title

                .minicard__colors
                    ul.color-list
                        li: span(title="Черный" style="background-color: #000")
                        li: span(title="Темный" style="background-color: #808080")
                        li: span(title="Серый" style="background-color: #C0C0C0")
                        li: span.color--border(title="Серый" style="background-color: #fff")
                        li
                            span.multi-color(data-tooltip="Красный/Зеленый/Синий")
                                svg(width='24' height='24' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M63.002 63h63C121.502 2.004 62-10.495 32 8l31.002 55z' fill='#E81E1E')
                                    path(d='M62.995 62.998L32.002 117c55.074 26.6 95.008-18.776 93.99-54.005l-62.997.003z' fill='#A71EE8')
                                    path(d='M63 63.001L32 8c-50.776 34.094-30.915 92.083.002 109L63 63.001z' fill='#0CE97F')
                        li
                            span.multi-color(data-tooltip="Розовый/Голубой")
                                svg(width='125' height='125' viewBox="0 0 125 125" fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M106.694 18.306a62.5 62.5 0 10-88.388 88.388l88.388-88.388z' fill='#E31CAC')
                                    path(d='M18.306 106.694a62.5 62.5 0 1088.388-88.388l-88.388 88.388z' fill='#1C9CE3')
                .minicard__rating(class=data.rating_color)
                    span= data.rate
                    a(href='#') 82 отзыва
                .minicard__props
                    ul
                        li <span>звук:</span> моно
                        li <span>суммарная мощность:</span> 40 Вт
                        li <span>диапазон воспроизводимых частот:</span> 50-20000 Гц
                        li <span>вход аудио (AUX):</span> да
            .minicard__more
                .minicard__price= data.price
                .minicard__offers
                    a(href='#') 24 предложения
                .minicard__action
                    a(href='#' data-wishlist=data.id data-tooltip="Добавить в избранное"): +icons('#ic_heart-default', 20) 
                    a(href='#' data-compare=data.id data-tooltip="Добавить в сравнение"): +icons('#ic_compare', 20)