mixin card-product-review(data)
    .card-product-review
        .card-product-review__top
            .card-product-review__photo
                +bgimage(data.image)
            .card-product-review__data
                .card-product-review__name: a(href='/single-product.html')= data.name
                .card-product-review__rating(class=data.rating_color)
                    span= data.rating
                    a(href='#')= data.ratingCount + ' отзыва'

        .card-product-review__comment
            .user-comment
                .user-comment__photo
                    +bgimage('/img/common/user3.jpg')
                .user-comment__main
                    .user-comment__name=data.userName
                    .user-comment__city=data.userCity
                    .user-comment__text: span=data.comment

mixin last-review

    -
        const homeReviewProduct = [
            {
                name: '17.3" Ноутбук HP 17-by1016ur 1600x900, Intel Pentium Gold 6405U 2.4 ГГц, RAM 4 ГБ, SSD 256 ГБ, Intel UHD Graphics, DOS, 22Q61EA',
                image: '/img/product/sp-1.jpg',
                rating: '4.9',
                ratingCount: '27 отзывов',
                rating_color: 'rating--green',
                userName: 'Михаил Длиннофамильный',
                userCity: 'Санкт-Петербург',
                comment: 'Два раза покупал ноутбуки здесь, для себя и для ребенка. Оба раза консультровал Сергей. Отличный спец — рассказал всё подробно, четко, посоветовал ноуты именно под те задачи, что мы поставили. Я своим ноутом доволен, сын со своей машины просто в восторге. Большое вам спасибо) дочь подрастает, смотрит на...',
            },
            {
                name: 'Беспроводные наушники Apple AirPods Pro 2 MTJV3 (USB-C case)',
                image: '/img/product/headphones/hp1.png',
                rating: '4.3',
                ratingCount: '21 отзыв',
                rating_color: 'rating--blue',
                userName: 'Екатерина Пирожкова',
                userCity: 'Москва',
                comment: 'Мне понравилось. Быстро, удобно, без хлопот и нервотрёпки. Товар пришёл за исправной упаковкой. Курьер вежливый. Если придётся ещё что-то приобрести, то обязательно повторю заказ через ваш сервис. Спасибо.',
            },
            {
                name: '17.3" Ноутбук HP 17-by1016ur 1600x900, Intel Pentium Gold 6405U 2.4 ГГц, RAM 4 ГБ, SSD 256 ГБ, Intel UHD Graphics, DOS, 22Q61EA',
                image: '/img/product/notebook/img-block-1.jpg',
                rating: '4.9',
                ratingCount: '27 отзывов',
                rating_color: 'rating--green',
                userName: 'Михаил Длиннофамильный',
                userCity: 'Санкт-Петербург',
                comment: 'Два раза покупал ноутбуки здесь, для себя и для ребенка. Оба раза консультровал Сергей. Отличный спец — рассказал всё подробно, четко, посоветовал ноуты именно под те задачи, что мы поставили. Я своим ноутом доволен, сын со своей машины просто в восторге. Большое вам спасибо) дочь подрастает, смотрит на...',
            },
            {
                name: 'Беспроводные наушники Apple AirPods Pro 2 MTJV3 (USB-C case)',
                image: '/img/product/headphones/hp1.png',
                rating: '4.3',
                ratingCount: '21 отзыв',
                rating_color: 'rating--blue',
                userName: 'Екатерина Пирожкова',
                userCity: 'Москва',
                comment: 'Мне понравилось. Быстро, удобно, без хлопот и нервотрёпки. Товар пришёл за исправной упаковкой. Курьер вежливый. Если придётся ещё что-то приобрести, то обязательно повторю заказ через ваш сервис. Спасибо.',
            },
        ] 

    section.section-last-review
        .container
            .last-review
                .last-review__title Отзывы о товарах
                .last-review__slider
                    .splide(data-slider="last-review")
                        .splide__track
                            .splide__list
                                each item in homeReviewProduct
                                    .splide__slide: +card-product-review(item)