mixin dropdown-icon
    .dropdown-icon
        .dropdown-icon__elem: a(href='#'): +icons('#ic_login', 24)
        .dropdown-icon__list
            .dropdown-button
                a(href='#' data-popup="login"): button.btn.btn-gray Войти
                a(href='#' data-popup="registration"): button.btn.btn-gray Зарегистрироваться
                a(href='/store/'): button.btn.btn-white Вход для магазинов

mixin dropdown-icon-login
    .dropdown-icon
        .dropdown-icon__elem: a(href='#'): +icons('#ic_user-login', 24)
        .dropdown-icon__list
            .dropdown-button
                span: button.btn.btn-white Михаил
                a(href='/personal/'): button.btn.btn-gray Отзывы
                a(href='/personal/config.html'): button.btn.btn-gray Настройки
                a(href='/#logout'): button.btn.btn-white Выход

mixin dropdown-icon-store
    .dropdown-icon
        .dropdown-icon__elem: a(href='#'): +icons('#ic_login', 24)
        .dropdown-icon__list
            .dropdown-button
                a(href='#'): button.btn.btn-gray(data-popup="store-login") Войти
                a(href='#'): button.btn.btn-gray Справка


mixin dropdown-icon-store-login
    .dropdown-icon
        .dropdown-icon__elem: a(href='#'): +icons('#ic_login', 24)
        .dropdown-icon__list
            .dropdown-button
                a(href='#'): button.btn.btn-white PCPlanet.ru
                a(href='user-data.html'): button.btn.btn-gray Параметры
                a(href='#'): button.btn.btn-gray Справка
                a(href='#'): button.btn.btn-white Выход




mixin tooltip-icon(data)
    .tooltip-icon
        .tooltip-icon__elem
            a(href=data.link ? data.link : '#')
                +icons(data.icon, 24)
                span.tooltip-icon__count(data-total=data.attr)
        .tooltip-icon__text
            span= data.text

mixin tooltip-icon-active(data)
    .tooltip-icon
        .tooltip-icon__elem
            a(href=data.link ? data.link : '#')
                +icons(data.icon, 24)
                span.tooltip-icon__count(data-total=data.attr)= data.count
        .tooltip-icon__text
            span!= data.text
